@model CategorySaveVM

<h1>Add Category</h1>

<div class="row">


        <form asp-action="Add" method="post" asp-controller="Categories">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.CategoryName"></label>
                        <input asp-for="@Model.CategoryName" class="form-control" />
                        <span asp-validation-for="@Model.CategoryName" class="text-danger"></span>
                    </div>
                    <br />
                </div>

            </div>



            <div class="form-group">

                <input type="submit" value="Add Category" class="btn-primary" />

            </div>
        </form>





</div>