
<div class="row mt-5">
    <div>
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="alert alert-primary alert-dimissible fade show alert-danger" role="alert">
                    <h2>access denied</h2>
                    <h2> <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Sign In</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>