@{
    Layout = "_LayoutLoginRegister";
}



<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5 mt-5">


            <h1>access denied </h1>
            <h1><a asp-controller="Account" asp-action="Login" class="btn btn-warning">Go back and Sign In</a> </h1>


        </div>
    </div>
</div>