@{
    Layout = "_LayoutLoginRegister";
}



<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5 mt-5">


            <h1>access denied </h1>
            <h1><a asp-controller="Home" asp-action="Index" class="btn btn-warning">go back to home page</a> </h1>


        </div>
    </div>
</div>