@model string

<div class="row mt-5">
    <div>
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="alert alert-primary alert-dimissible fade show" role="alert">
                    <h2>@Model - <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Sign In</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>